@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    /* overflow-x: hidden; */
}

aside {
    width: 16%;
    height: 100%;
    position: fixed;
    z-index: 10;
}

aside ul li a {
    padding-left: 10px !important;
}

.bg-sidebar {
    background-color: #fafaf8;
}

.thm-text-color {
    color: #d16736;
}

.thm-bg {
    background-color: #d16736;
}

.hr-line {
    margin-left: -100%;
    margin-right: -9%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #d16736;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 1rem;
}

.logo-text {
    font-size: 1.2rem;
    font-weight: 700;
}

.icon-color {
    color: #7e7b7b;
}

.sidebar-fs-fw {
    font-size: 0.8rem;
    font-weight: 600;
}

a.help-box {
    background-color: #f6f6f4;
    border: none;
    border-radius: 8px;
    height: 60px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    padding: .5rem 1rem;
}

.user-profile {}

.user-profile .user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #f1f1ef;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #7e7b7b;
}

.user-profile .user-credential {}

.user-profile .user-credential .user-name {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 2px;
}

.user-profile .user-credential .user-email {
    font-size: 0.6rem;
}

main {
    width: 84%;
    /* height: 100%; */
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.export-btn {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
}

.create-new-invoice-btn {
    cursor: pointer;
    background-color: #d16736;
    color: #ffffff;
    border: 1px solid #d16736;
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    height: 80px;
    border: 1.8px solid #c6c6c6;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 0.5rem 0.5rem;
}

.card:hover {
    background-color: #feefea;
    border: 2px solid #d16736;
}

.active-card {
    background-color: #feefea;
    border: 2px solid #d16736;
}

.card .card-title {
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.card .card-price {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.card .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    /* background-color: #bea7a7; */
    border: 1px solid #dee2e6;
    border-radius: 6px;
    margin-right: 6px;
    cursor: pointer;
}

.search-input {
    display: flex;
    height: 35px;
    width: 235px;
    align-items: center;
    justify-content: space-between;
    background-color: #ececec;
    border: none;
    border-radius: 5px;
}

.search-input input {
    height: 33px;
    width: 100%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ececec;
    font-size: 0.8rem;
}

.search-input:focus-visible {
    /* outline: 2px solid black; */
    outline-offset: 0px !important;
}

input:focus-visible {
    outline: none;
    /* outline-offset: 0px; */
}

input::placeholder {
    font-size: 0.7rem;
    color: #9b9b9b;
    vertical-align: middle;
}

.amount-btn {
    cursor: pointer;
    background-color: #ececec;
    color: #6c6c6c;
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.4rem 0.6rem;
}

.issue-date-btn {
    cursor: pointer;
    background-color: #ececec;
    color: #6c6c6c;
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.4rem 0.6rem;
}

.create-date-btn {
    cursor: pointer;
    background-color: #ececec;
    color: #6c6c6c;
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.4rem 0.6rem;
}

.due-date-btn {
    cursor: pointer;
    background-color: #ececec;
    color: #6c6c6c;
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.4rem 0.6rem;
}

.setting-btn {
    cursor: pointer;
    background-color: transparent;
    border: 1.5px solid #ececec;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
}

thead {
    font-size: 0.7rem;
    font-weight: 600;
    background-color: #e3e6eb;
    border: none !important;
    color: #6c6c6c;
}

tbody tr td {
    font-size: 0.8rem;
}

tbody tr td:nth-child(2) {
    font-weight: 600;
}

tbody tr td:nth-child(5) {
    font-weight: 500;
}

tbody tr td div.overdue-status {
    background-color: #fedde0;
    color: #d85d70;
    border: none;
    border-radius: 5px;
    font-size: 0.6rem;
    font-weight: 700;
    padding: 0.2rem 0.6rem;
    height: 20px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody tr td div.draft-status {
    background-color: #ECECEC;
    color: #6c6c6c;
    border: none;
    border-radius: 5px;
    font-size: 0.6rem;
    font-weight: 700;
    padding: 0.2rem 0.6rem;
    height: 20px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody tr td div.canceled-status {
    background-color: #e3efff;
    color: #396bdc;
    border: none;
    border-radius: 5px;
    font-size: 0.6rem;
    font-weight: 700;
    padding: 0.2rem 0.6rem;
    height: 20px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}